{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "images": "./public/images",
          "League": "./src/entities/League",
          "Team": "./src/entities/Team"
        }
      }
    ],
    [
      "auto-import",
      {
        "declarations": [{ "default": "React", "path": "react" }]
      }
    ]
  ]
}
